<div class="container-small-card">
        <div class="container-small-card-content">
            <div class="small-card-picture">
                <img src="{{ photoCover }}" alt="" width="400px">
            </div>
            <div class="small-card-title">
                <h1> <a [routerLink]="['content', Id]">
                    {{smallCardTitle}}
                </a> </h1>
            </div>
        </div>
</div>

<hr>

        <!-- <div class="small-card-description">
            <p> <a href="#">
                James Rodríguez ficará no São Paulo em 2024. 
                O jogador repensou seu desejo de rescindir com o clube e manifestou desejo de permanecer.
            </a> </p>
        </div> -->