<div class="container-big-card">
    <div class="big-card-picture">
        <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" alt="" height="300px" width="400px">
    </div>
    <div class="big-card-title">
        <h1> <a href="#">
            James Rodriguez fica no São Paulo!
        </a> </h1>
    </div>
    <div class="big-card-description">
        <p> <a href="#">
            James Rodríguez ficará no São Paulo em 2024. 
            O jogador repensou seu desejo de rescindir com o clube e manifestou desejo de permanecer.
        </a> </p>
    </div>
</div>

