
<header>
    <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="articles">
    <div class="articles_main">
        <app-big-card photoCover="https://lncimg.lance.com.br/cdn-cgi/image/width=390,height=240,fit=crop,quality=75,format=webp/uploads/2024/02/53274510157_38c6b359aa_o-aspect-ratio-512-320-4.jpg" cardTitle="James" cardDescription="Tá dinamico!"></app-big-card>
        <app-big-card photoCover="https://lncimg.lance.com.br/cdn-cgi/image/width=390,height=240,fit=crop,quality=75,format=webp/uploads/2024/02/53274510157_38c6b359aa_o-aspect-ratio-512-320-4.jpg" cardTitle="James" cardDescription="Tá dinamico!"></app-big-card>
    </div>

    <div class="articles_others">
        <app-small-card photoCover="https://lncimg.lance.com.br/cdn-cgi/image/width=390,height=240,fit=crop,quality=75,format=webp/uploads/2024/02/53274510157_38c6b359aa_o-aspect-ratio-512-320-4.jpg" smallCardTitle="James é melhor que Arrascaeta"></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>

</div>